// _base.scss
$font-stack: "LeroyMerlin", sans-serif;
$primary-color: #333;

$local-config: (
  font-path: "~@mozaic-ds/web-fonts"
);

@import "settings-tools/_all-settings";

@include import-font-families();
